*{
    margin: 0;
    padding: 0;
}
nav{
   width: 1600px;
   height: 92px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 16px 120px 16px 120px;
   margin: 0 auto;
   text-decoration: none;

}
.menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
    text-decoration: none;
}
nav .btn{
    width: 164px;
    height: 44px;
    gap: 10px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    color: white;
    background-color: #30b868;
}
#banner{
  background: url(./assets/hero-bg.png);
  width: 1780px;
  height: 674px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 70px,120px,134px,120px;
  margin: 0 auto;
}
.early{
    width: 229px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    background: rgb(224, 219, 219);
    font-family: inter;
    font-style: medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    margin: 0 auto;
}
#banner .banner-container h1{
    width: 770px;
    /* height: 168px; */
    font-style: bold;
    font-size: 72px;
    /* font-weight: 700; */
    /* line-height: 80px; */
    text-align: center;
    text-transform: capitalize;
    gap: 0;
}
#banner .banner-container p{
    /* width: 1360px; */
    /* width: 60px; */
    font-size: 18px;
    text-align: center;
}


#banner .banner-container .btn-2{
    background-color: #30b868;
    padding: 16px;
    align-items: center;
    gap: 10;
    border-radius: 4px;
    border-top: 32px;

}
#banner .banner-container .btn-3{
    box-shadow: border-box;
    justify-content: center;
    gap: 10;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    /* border: 1px solid rgb(148, 129, 129); */
}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0;

}
#skills{
    text-align: center;
    margin: 0 auto;
    gap: 44px;
    padding: 120px;
    margin: 0 auto;
}

#skills .skills-container .skills-box{
    display: flex;
    gap: 24px;
    padding: 24px;
}
.skills-box .skills-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #5a3b3b;
}
.skills-card img{
    max-width: 44px;
    margin-bottom: 30px;
    background: rgba(249, 85, 85, 1);;
}
.skills-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skills-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
#about {
    margin-top: 120px;
    background: #fff8f3;
    padding: 100px;
    margin: 0 auto;
}
#about .about-container{
  
    margin: 0 auto;
    display: flex;
    gap: 88px;
    align-items: center;
    margin: 0 auto;
}
#about .about-container img{
    width: 100%;
    max-width: 420px;
}

.about-info h5{
    font-size: 16px;
    text-align: left;
    gap: 36px;
    margin-bottom: 10px;


}
#about .about-container .about-info h2{
    font-size: 48px;
    font-style: bold;
    text-align: left;
    gap: 40px;
    margin-bottom: 20px;
}
#about .about-container .about-info p{
    font-size: 16px;
    text-align: left;
    gap: 40px;
    margin-bottom: 25px;
}
#about .list li{
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    font-size: 16px;
}
#about .list img{
    width: 20px;
    height: 20px;
}
#access{
    text-align: center;
    gap: 24px;
    padding: 80px 40px 80px 40px;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
}
#access .access-container h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    gap: 10;
padding: 12px 16px 12px 16px;
}
#access .access-container p{
     font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 10px;
    margin: 0 auto;
    gap: 10;
padding: 12px 16px 12px 16px;
}
#access .access-container .btn-4{
    width: 164px;
    height: 44px;
    gap: 10px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    color: white;
    background-color: #30b868;

}
#access .access-container h6{
    font-size: 16px;
    text-align: center;
    color: var(--#627382, rgba(98, 115, 130, 1));
    gap: 10;
padding: 12px 16px 12px 16px;
}
footer .footer-container .social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--Style, rgba(0, 25, 49, 1));
    width: 100%;
    margin-bottom: 12px;
    margin: 0 auto;
 
;
    
   
}
footer .footer-container .footer-access{
    font-size: 16px;
    text-align: center;
    background: var(--Style, rgba(0, 25, 49, 1));;
}


    