*{
    margin: 0;
    padding: 0;
}
nav{
   width: 1600px;
   height: 92px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 16px 120px 16px 120px;

}
.menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .btn{
    width: 164px;
    height: 44px;
    gap: 10px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    color: white;
    background-color: #30b868;
}
#banner{
  background: url(./assets/hero-bg.png);
  width: 1780px;
  height: 674px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 70px,120px,134px,120px;
}
.early{
    width: 229px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 8px 12px 8px 12px;
    border-radius: 1000px;
    background: rgb(224, 219, 219);
    font-family: inter;
    font-style: medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
}
#banner .banner-container h1{
    width: 770px;
    /* height: 168px; */
    font-style: bold;
    font-size: 72px;
    /* font-weight: 700; */
    /* line-height: 80px; */
    text-align: center;
    text-transform: capitalize;
    gap: 0;
}
#banner .banner-container p{
    /* width: 1360px; */
    /* width: 60px; */
    font-size: 18px;
    text-align: center;
}
#banner .banner-container .btn-2{
    background-color: #30b868;
    padding: 16px;
    align-items: center;
    gap: 10;
    border-radius: 4px;

}
#banner .banner-container .btn-3{
    box-shadow: border-box;
    border: 1px rgb(255,255,2,55,1);
    border-radius: 4px;
}

#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0;

}
#skills{
    text-align: center;
    margin: 0 auto;
    gap: 44px;
    padding: 120px;
}

#skills .skills-container .skills-box{
    display: flex;
    gap: 24px;
    padding: 24px;
}
.skills-box .skills-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #5a3b3b;
}
.skills-card img{
    max-width: 44px;
    margin-bottom: 30px;
    background: rgba(249, 85, 85, 1);;
}
.skills-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skills-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
#about .about-container .about-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 120px;
}